
.taskStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  height: 4.5rem;
  background-color: var(--gray-400);
  color: var(--gray-100);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;

}

.taskStyleCliked {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  height: 4.5rem;
  background-color: var(--gray-400);
  color: var(--gray-100);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  
  text-decoration: line-through;
  color: var(--purple);
}

.taskStyleCliked .circle {
  display: none;
}

.taskStyle .checkCircle {
  display: none;
}


.text {
  
  width: 40rem;
}


.trash {
  color: var(--gray-300);
}

.trash:hover {
  color: var(--danger);
}